aniso8601==9.0.1
click==8.0.3
Flask==2.2.1
Flask-HTTPAuth==4.5.0
Flask-RESTful==0.3.9
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pytz==2021.3
six==1.16.0
Werkzeug==2.2.0
Flask-Cors==3.0.10
Flask-SQLAlchemy == 3.0.3
Flask-Migrate == 4.0.4
psycopg2 == 2.9.6

#Aluno
{
    "nome": "João Silva",
    "email": "mmenezes@example.com",
    "senha": "111223456",
    "telefone": "123456789",
    "matricula": "slakj11jdkska",
    "periodo": {
        "semestrereferencia": 1
    },
    "instituicao": {
        "nome": "Universidade XYZ",
        "endereco": {
            "rua": "Rua A",
            "bairro": "Centro",
            "cep": "12345-678",
            "numero": "100",
            "complemento": "Sala 101"
        },
        "curso": {
            "nome": "Engenharia de Software"
        }
    }
}
# Coordenador
{
  "nome": "John Doe",
  "email": "mman@example.com",
  "senha": "s2waord123",
  "telefone": "123456789",
  "disciplina": "Matemática",
  "registrodeTrabalho": "6667889",
  "instituicao": {
    "nome": "Universidade XYZ",
    "endereco": {
      "rua": "Rua Principal",
      "bairro": "Centro",
      "cep": "12345-678",
      "numero": "10",
      "complemento": "Apartamento 1"
    },
    "curso": {
      "nome": "Engenharia"
    }
  }
}
#Grupo
{
    "titulo": "Grupo de Estudo",
    "link": "://example.com/grupo",
    "semestreturma": 1,
    "coordenador_id": 5
}
#Mensagem
{
  "texto": "Olá, mundo!",
  "aluno_id": 2,
  "periodo_id": 2
}